.hoverTR:hover{
    background: #eeeeee;
}

.multi-on{
    margin: 20px 10px 10px 0;
    padding:5px;
    color:white;
    background: #4444ff;
    border-radius: 5px;
    border: none
}

.multi-off{
    margin: 20px 10px 10px 0;
    padding:5px;
    color:white;
    background: #88888888;
    border-radius: 5px;
    border: none
}

.recovery-on{
    margin: 10px 10px 10px 0;
    padding:5px;
    color:white;
    background: #44cc66;
    border-radius: 5px;
    border: none
}

.recovery-off{
    margin: 10px 10px 10px 0;
    padding:5px;
    color:white;
    background: #88888888;
    border-radius: 5px;
    border: none
}

.box{
    position: absolute;
    width: auto;
    left: 50%;
    height: auto;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #004ea2;
}

.box div.end{
    min-height:30px;
    padding: 5px
}

.box2{
    position: absolute;
    width: auto;
    left: 50%;
    height: auto;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #004ea2;
}

.box2 div.end{
    min-height:30px;
    padding: 5px
}

#bg{
    background-color: #666;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
   padding: 2px;
   width: 40px;
   height: 20px;
   background-color: #dddddd;
   border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #00bff3;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
}
