<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>监控中心</title>
    <script src="js/echarts.min.js"></script>
    <script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="lib/vue.js" type="text/javascript"></script>
    <script src="data/THC.js"></script>
    <link rel="stylesheet" href="css/le.css">

</head>
<body style="background: linear-gradient(#0b0b4b,#0b0b0b);">

    <div style="color:white;font-size: 30px;text-align: center;width: 100%;margin:30px;">崇州高铁站室内、外环境监控</div>
    <div id = "time" style="color:white;font-size:20px;text-align: center;width: 100%;margin:30px;"></div>
    <div style="margin: 30px;padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #fff;color: white">
        <div style="padding: 1%">
            <div style="font-size: 20px">多联机和热回收机器状态</div>
            <div>
                <input type="button" value="1号多联机" class="multi-on" onclick="Reversal(this)">
                <input type="button" value="2号多联机" class="multi-on" onclick="Reversal(this)">
                <input type="button" value="3号多联机" class="multi-on" onclick="Reversal(this)">
                <input type="button" value="4号多联机" class="multi-off" onclick="Reversal(this)">
                <input type="button" value="5号多联机" class="multi-off" onclick="Reversal(this)">
            </div>
            <div>
                <input type="button" value="1号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="2号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="3号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="4号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="5号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="6号热回收机" class="recovery-on" onclick="Reversal(this)">
                <input type="button" value="7号热回收机" class="recovery-off" onclick="Reversal(this)">
                <input type="button" value="8号热回收机" class="recovery-off" onclick="Reversal(this)">
            </div>
        </div>
    </div>
    <div style="margin:30px;text-align: center">
        <div style="width: 30%;float:left;margin: 1%">
            <div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #fff;">
                <div style="font-size: 20px;color: #ffffff;display: inline-block">温度监控</div>
                <button onclick="add_temp()" style="display: inline-block;color:white;background: #44444499;border-radius: 5px;box-shadow: 0 0 1px 1px #fff;">增加</button>
                <div id = "temperature" style="text-align: center" >
                    <div v-for="(obj) in data" ondblclick="showPop(this,'温度监控')" style="width:90%;background: #22222244;margin-top:15px;
                        margin-bottom:15px;display:inline-block;border-radius: 30px;box-shadow: 0 0 3px 1px #fff;">
                        <div style="width: 100%;height:auto;display: inline-block;">
                            <div class="temp-gauge" style="width: 100%;height:200px;"></div>
                            <div style="margin-top: -20px;">
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">监测位置：{{obj.address}}</div>
                                <div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
                                <div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
                            </div>
                        </div>
                        <!--                <div style="width: 300px;height:250px;display: inline-block;" class="temp-line"></div>-->
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 30%;display: inline-block;margin: 1%">
            <div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #fff;">
                <div style="font-size: 20px;color: #ffffff;display: inline-block">湿度监控</div>
                <button onclick="add_humid()" style="display: inline-block;color:white;background: #44444499;border-radius: 5px;box-shadow: 0 0 1px 1px #fff;">增加</button>
                <div id = "humidity" style="text-align: center">
                    <div v-for="(obj) in data" ondblclick="showPop(this,'湿度监控')" style="background: #22222244;margin-top:15px;
                        margin-bottom:15px;display:inline-block;width:90%;border-radius: 30px;box-shadow: 0 0 3px 1px #fff;">
                        <div style="width: 100%;height:auto;display: inline-block;">
                            <div class="hum-gauge" style="width: 100%;height:200px;"></div>
                            <div style="margin-top: -20px">
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">监测位置：{{obj.address}}</div>
                                <div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
                                <div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
                            </div>
                        </div>
                        <!--                <div style="width: 300px;height:250px;display: inline-block;" class="hum-line"></div>-->
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 30%;float:right;margin: 1%">
            <div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #fff;">
                <div style="font-size: 20px;color: #ffffff;display: inline-block">二氧化碳浓度监控</div>
                <button onclick="add_co2()" style="display: inline-block;color:white;background: #44444499;border-radius: 5px;box-shadow: 0 0 1px 1px #fff;">增加</button>
                <div id = "co2" style="text-align: center">
                    <div v-for="(obj) in data" ondblclick="showPop(this,'二氧化碳浓度监控')" style="background: #22222244;margin-top:15px;
                        margin-bottom:15px;display:inline-block;width:90%;border-radius: 30px;box-shadow: 0 0 3px 1px #fff;">
                        <div style="width: 100%;height:auto;display: inline-block;">
                            <div class="co2-gauge" style="width: 100%;height:200px;"></div>
                            <div style="margin-top: -20px">
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
                                <div style="width: 100%;height: auto;text-align: center;color: #ffffff;">监测位置：{{obj.address}}</div>
                                <div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
                                <div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
                            </div>
                        </div>
                        <!--                <div style="width: 300px;height:250px;display: inline-block;" class="co2-line"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="bg" onclick="closePop()"></div>
<div class="box" style="text-align: center;position:fixed;display: none;background:linear-gradient(#0b0b4b,#0b0b0b);padding: 20px;border-radius: 30px">
    <p id="pop-type" style="font-size: 22px;color: white"><b>温度监控</b></p>
        <div style="margin: 30px;color:white;">选择日期：<label>
            <input value="2020-05-01T12:00:00" type="datetime-local" onchange="update(1)"/>
        </label></div>
    <div id="pop-code" style="color: white">传感器编号</div>
    <div id="pop-address" style="color: white">监测位置</div>
    <div id="pop-stage" style="color: white">运行中</div>
    <div id="pop-line-temp" style="width: 300px;height:250px;display: none;" class="temp-line"></div>
    <div id="pop-line-hum" style="width: 300px;height:250px;display: none;" class="hum-line"></div>
    <div id="pop-line-co2" style="width: 300px;height:250px;display: none;" class="co2-line"></div>
</div>
</body>
</html>

<script>
    Date.prototype.Format = function (fmt) {
        let o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (let k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    $('#time').text("当前时间："+new Date().Format("yyyy-MM-dd hh:mm:ss"));
    setInterval(function () {
        $('#time').text("当前时间："+new Date().Format("yyyy-MM-dd hh:mm:ss"));
    },1000);

    vm = new Vue({
        el:"#temperature",
        data: {
            data: [
                {
                    "id": "1",
                    "code": "1",
                    "address":"1号车箱",
                    "value": "27",
                    "stage": "1"
                },
                {
                    "id": "2",
                    "code": "2",
                    "address":"2号车箱",
                    "value": "30",
                    "stage": "1"
                }
            ]
        }
    });

    vm.$watch('data',function(val){
        vm.$nextTick(function() {
            update(0);
        });
    });

    const vm2 = new Vue({
        el: "#humidity",
        data: {
            data:[
                {
                    "id":"1",
                    "code":"1",
                    "address":"1号车箱",
                    "value":"50",
                    "stage":"1"
                },
                {
                    "id":"3",
                    "code":"3",
                    "address":"2号车箱",
                    "value":"-",
                    "stage":"1"
                }
            ]
        }
    });

    vm2.$watch('data',function(val){
        vm2.$nextTick(function() {
            update(0);
        });
    });

    const vm3 = new Vue({
        el: "#co2",
        data: {
            data:[
                {
                    "id":"1",
                    "code":"1",
                    "address":"1号车箱",
                    "value":"50",
                    "stage":"1"
                },
                {
                    "id":"2",
                    "code":"2",
                    "address":"2号车箱",
                    "value":"56",
                    "stage":"1"
                }
            ]
        }
    });
    vm3.$watch('data',function(val){
        vm3.$nextTick(function() {
            update(0);
        });
    });
    function add_temp() {
        vm.data.push({
            "id":"-",
            "code":"-",
            "value":"-",
            "stage":"0"
        });
    }

    function add_humid() {
        vm2.data.push({
            "id":"-",
            "code":"-",
            "value":"-",
            "stage":"0"
        });
    }

    function add_co2() {
        vm3.data.push({
            "id":"-",
            "code":"-",
            "value":"-",
            "stage":"0"
        });
    }

    function showTempGauge(data) {
        let x = document.getElementsByClassName("temp-gauge");
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                tooltip: {
                    formatter: '{a} <br/>{b} : {c}%'
                },
                series: [
                    {
                        name: '温度',
                        type: 'gauge',
                        min:0,
                        max:40,
                        detail: {fontSize: 20, formatter: '\n\n\n{value}℃'},
                        data: [{value: data[23].toFixed(1), name: ''}],
                        axisLabel:{
                            fontSize:10
                        },
                        axisLine:{
                            lineStyle:{
                                color:[[0.1, '#49c3f0'],[0.2, '#59b7e0'],
                                    [0.3, '#6ca9cc'],[0.4, '#8299b8'],
                                    [0.5, '#9c88a0'],[0.6, '#b47688'],
                                    [0.7, '#ca6672'],[0.8, '#de575f'],
                                    [0.9, '#ef4c4f'],[1.0, '#fb4243']],
                                width:20
                            }
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }


    }
    function showHumGauge(data) {
        let x = document.getElementsByClassName("hum-gauge");
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                tooltip: {
                    formatter: '{a} <br/>{b} : {c}%'
                },
                series: [
                    {
                        name: '湿度',
                        type: 'gauge',
                        min:0,
                        max:100,
                        detail: {fontSize: 20, formatter: '\n\n\n{value}%'},
                        data: [{value: data[23].toFixed(1), name: ''}],
                        axisLabel:{
                            fontSize:10
                        },
                        axisLine:{
                            lineStyle:{
                                color:[[0.1, '#b4fdfb'],[0.2, '#abf2fb'],
                                    [0.3, '#9ee4fb'],[0.4, '#8fd2fc'],
                                    [0.5, '#7fbefc'],[0.6, '#6da9fd'],
                                    [0.7, '#6da9fd'],[0.8, '#5b93fe'],
                                    [0.9, '#4a80fd'],[1.0, '#2f5ffe']],
                                width:20

                            }
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }

    }
    function showCo2Gauge(data) {
        let x = document.getElementsByClassName("co2-gauge");
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                tooltip: {
                    formatter: '{a} <br/>{b} : {c}%'
                },
                series: [
                    {
                        name: '二氧化碳浓度',
                        type: 'gauge',
                        min:0,
                        max:1000,
                        detail: {fontSize: 20, formatter: '\n\n\n{value}ppm'},
                        data: [{value: data[23].toFixed(1), name: ''}],
                        axisLabel:{
                            fontSize:10
                        },
                        axisLine:{
                            lineStyle:{
                                color:[
                                    [0.1, '#fff09f'],[0.2, '#f8ea9e'],
                                    [0.3, '#ede19b'],[0.4, '#dfd498'],
                                    [0.5, '#d1c895'],[0.6, '#c1bb91'],
                                    [0.7, '#b2ac8d'],[0.8, '#a39f8b'],
                                    [0.9, '#969488'],[1.0, '#8c8a85']],
                                width:20
                            }
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }

    }

    function showTempLine(data){
        const x = document.getElementsByClassName("temp-line");
        let date = [];
        for(let k=1;k<25;k++)
            date.push(String(k));
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: date,
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize:'12',
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize:'12',
                        }
                    }
                },
                series: [{
                    smooth: true,
                    data: data,
                    type: 'line',
                    //折线下填充渐变颜色
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0, color: '#fb4243'
                                }, {
                                    offset: 0.5, color: '#9c88a0'
                                }, {
                                    offset: 1, color: '#49c3f0'
                                }]
                            ),
                        }
                    },
                    itemStyle:{
                        normal:{
                            lineStyle:{
                                width:0,
                                type:'none' //设置线条为虚线
                            }
                        }
                    },symbol: "none"
                }]
            }
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }
    }

    function showHumLine(data){
        x = document.getElementsByClassName("hum-line");
        let date = [];
        for(let k=1;k<25;k++)
            date.push(String(k));
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: date,
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize:'12',
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize:'12',
                        }
                    }
                },
                series: [{
                    smooth: true,
                    data: data,
                    type: 'line',
                    //折线下填充渐变颜色
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0, color: '#2f5ffe'
                                }, {
                                    offset: 0.5, color: '#7fbefc'
                                }, {
                                    offset: 1, color: '#b4fdfb'
                                }]
                            ),
                        }
                    },
                    itemStyle:{
                        normal:{
                            lineStyle:{
                                width:0,
                                type:'none' //设置线条为虚线
                            }
                        }
                    },symbol: "none"
                }]
            }
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }
    }

    function showCo2Line(data){
        x = document.getElementsByClassName("co2-line");
        let date = [];
        for(let k=1;k<25;k++)
            date.push(String(k));
        for (let i = 0; i < x.length; i++) {
            const myChart = echarts.init(x[i]);
            let option;
            option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: date,
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize: '12',
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        textStyle: {
                            color: '#ffffff',
                            fontSize: '12',
                        }
                    }
                },
                series: [{
                    smooth: true,
                    data: data,
                    type: 'line',
                    //折线下填充渐变颜色
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0, color: '#8c8a85'
                                }, {
                                    offset: 0.5, color: '#d1c895'
                                }, {
                                    offset: 1, color: '#fff09f'
                                }]
                            ),
                        }
                    },
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                width: 0,
                                type: 'none' //设置线条为虚线
                            }
                        }
                    }, symbol: "none"
                }]
            }
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        }
    }
    update(0);
    function update(times) {
        let $date = $("input[type='datetime-local']");
        const month = $date.val().split("T")[0].split("-")[1];
        const date = $date.val().split("T")[0].split("-")[2];
        const hour = $date.val().split("T")[1].split(":")[0];

        let tempData = [];
        let humData = [];
        let co2Data = [];
        for(let i=0;i<data.length;i++){
            if(data[i][0].split("/")[0]===month&&data[i][0].split("/")[1]===date&&data[i][1]===hour){
                for(let k=24;k>0;k--){
                    if(i-k>=0){
                        tempData.push(parseFloat(data[i-k][2]));
                        humData.push(parseFloat(data[i-k][3]));
                        co2Data.push(parseFloat(data[i-k][4]));
                    }else{
                        tempData.push(0);
                        humData.push(0);
                        co2Data.push(0);
                    }

                }
            }
        }
        if(times===0){
            showTempGauge(tempData);
            showHumGauge(humData);
            showCo2Gauge(co2Data);
        }
        showTempLine(tempData);
        showHumLine(humData);
        showCo2Line(co2Data);
    }
    function Reversal(obj) {
        const $obj = $(obj);
        if($obj.attr('class')==="multi-on")
            $obj.attr('class','multi-off');
        else if($obj.attr('class')==="multi-off")
            $obj.attr('class','multi-on');
        else if($obj.attr('class')==="recovery-on")
            $obj.attr('class','recovery-off');
        else if($obj.attr('class')==="recovery-off")
            $obj.attr('class','recovery-on');
    }

    function showPop(obj,type){
        let $monitor = $($($(obj).children().get(0)).children().get(1));
        $("#pop-type").text(type);
        $("#pop-code").text($($monitor.children().get(0)).text());
        $("#pop-address").text($($monitor.children().get(1)).text());
        const $stage = $("#pop-stage");
        $stage.text($($monitor.children().get(2)).text());

        if($stage.text()==="运行中")
            $stage.css("color","#2aaf67");
        else
            $stage.css("color","#f54349");

        const $tempLine = $("#pop-line-temp");
        const $humLine = $("#pop-line-hum");
        const $co2Line = $("#pop-line-co2");
        switch (type) {
            case "温度监控":
                $tempLine.css("display","inline-block");
                $humLine.css("display","none");
                $co2Line.css("display","none");
                break;
            case "湿度监控":
                $tempLine.css("display","none");
                $humLine.css("display","inline-block");
                $co2Line.css("display","none");
                break;
            case "二氧化碳浓度监控":
                $tempLine.css("display","none");
                $humLine.css("display","none");
                $co2Line.css("display","inline-block");
                break;
            default:break;
        }
        $("#bg").css({
            display: "block",
            height: "100%",
            position: "fixed"
        });
        const $box = $('.box');
        $box.css({
            left: ($("body").width() - $box.width()) / 2 + "px",
            top: ($(window).height() - $box.height()) / 2 + "px",
            display: "block"
        });
    }

    function closePop() {
        $('.box').css({
            display: "none"
        });
        $("#bg").css({
            display: "none"
        });
    }
</script>