<!DOCTYPE html>
<html lang="en">
	
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>崇州高铁站候车大厅环境舒适度智能控制系统</title>

	<script src="js/echarts.min.js"></script>
	<script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="lib/vue.js" type="text/javascript"></script>
	<script src="data/THC.js"></script>
	<script src="static/js/active.js"></script>
	<script src="static/js/jquery-2.2.4.min.js"></script>
	<script src="static/js/jquery.SlidingBlock.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="css/le.css">
	<link rel="icon" href="static/img/icon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>
	<div class="nav">
		<div id="div1">
			<header>
				<div class="container">
					<div  class="row">
						<div class="logo-column">
							<a class="logo">
								<img src="static/img/logo.jpg" >
							</a>
							<div class="p-title">崇州高铁站候车大厅环境舒适度智能控制系统</div>
						</div>

					</div>
				</div>
			</header>
			<div id="div3">
				<div class=" nav-column clearfix">
					<nav id="menu">
						<ul>
							<li class="current-menu-item"><a href="portfolio.html">车站介绍</a></li>
							<li class="current-menu-item"><a href="portfolio.html">联系我们</a></li>
							<li class="current-menu-item">
								<a>关于</a>
							</li>
							<li class="current-menu-item has-child">
								<a>登录</a>
								<ul class="sub-menu">
									<li><a href="">登录</a></li>
									<li><a href="">用户信息</a></li>
									<li><a href="">退出登录</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div id="div2">
			<nav id="flexmenu">
				<div class="nav-inner">
					<ul id="menu-main-menu"  class="main-menu">
						<li class="menu-item">
							<a href="index.html">系统首页</a>
						</li>
						<li  class="menu-item">
							<a href="about.html">模拟演示</a>
						</li>
						<li class="menu-item">
							<a href="#">参数设置</a>
						</li>
						<li class="menu-item current-menu-item active">
							<a href="#">环境监测</a>
						</li>
						<li class="menu-item">
							<a href="contact.html">空调控制</a>
						</li>
						<li class="menu-item">
							<a href="contact.html">数据管理</a>
						</li>
						<li class="menu-item">
							<a href="contact.html">算法演示</a>
						</li>
						<div id="datetime" style="color:#FFFFFF;position:absolute;top:10px;left:76%;width:200px;font-size:16px">
							<p style="color:#FFFFFF">
								<script>setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
								</script>
							</p>
						</div>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div style="background: linear-gradient(#000000,#0b0b4b);width: 100%;">
		<table style="width: 100%">
			<tr>
				<td style="width: 70%;vertical-align: top;padding:2%;border-right: 2px solid #dddddd" >
					<div style="text-align: center;">
						<div style="color: white;text-align: left;font-size: 22px;padding: 30px">候车大厅环境监测</div>
						<div style="width: 30%;float:left;margin: 1%">
							<div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;;">
								<div style="font-size: 20px;color: #ffffff;display: inline-block">温度监控</div>
								<div id = "temperature" style="text-align: center" >
									<div v-for="(obj) in data" ondblclick="showPop(this,'温度监控')" style="width:90%;margin-top:15px;
                        margin-bottom:15px;display:inline-block;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;" :title="obj.address">
										<div style="width: 100%;height:auto;display: inline-block;">
											<div class="temp-gauge" style="width: 100%;height:200px;"></div>
											<div style="margin-top: -20px;">
												<div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
												<div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
												<div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
											</div>
										</div>
									</div>
								</div>
								<button onclick="add_temp()" style="padding: 5px 10px;display: inline-block;color:white;background: #44448800;border-radius: 10px;">增加</button>

							</div>
						</div>
						<div style="width: 30%;display: inline-block;margin: 1%">
							<div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;">
								<div style="font-size: 20px;color: #ffffff;display: inline-block">湿度监控</div>
								<div id = "humidity" style="text-align: center">
									<div v-for="(obj) in data" ondblclick="showPop(this,'湿度监控')" style="margin-top:15px;
                        margin-bottom:15px;display:inline-block;width:90%;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;" :title="obj.address">
										<div style="width: 100%;height:auto;display: inline-block;">
											<div class="hum-gauge" style="width: 100%;height:200px;"></div>
											<div style="margin-top: -20px">
												<div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
												<div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
												<div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
											</div>
										</div>
									</div>
								</div>
								<button onclick="add_hum()" style="padding: 5px 10px;display: inline-block;color:white;background: #44448800;border-radius: 10px;">增加</button>

							</div>
						</div>
						<div style="width: 30%;float:right;margin: 1%">
							<div style="padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;">
								<div style="font-size: 20px;color: #ffffff;display: inline-block">二氧化碳浓度监控</div>
								<div id = "co2" style="text-align: center">
									<div v-for="(obj) in data" ondblclick="showPop(this,'二氧化碳浓度监控')" style="margin-top:15px;
                        margin-bottom:15px;display:inline-block;width:90%;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;" :title="obj.address">
										<div style="width: 100%;height:auto;display: inline-block;">
											<div class="co2-gauge" style="width: 100%;height:200px;"></div>
											<div style="margin-top: -20px">
												<div style="width: 100%;height: auto;text-align: center;color: #ffffff;">传感器编号：{{obj.code}}</div>
												<div v-if="obj.stage==='1'" style="width: 100%;text-align: center;padding: 5px;color: #2aaf67">运行中</div>
												<div v-else style="width: 100%;text-align: center;padding: 5px;color: #f54349">未运行</div>
											</div>
										</div>
									</div>
								</div>
								<button onclick="add_co2()" style="padding: 5px 10px;display: inline-block;color:white;background: #44448800;border-radius: 10px;">增加</button>

							</div>
						</div>
					</div>
				</td>
				<td style="width: 28%;padding:2%;vertical-align: top;border-left: 2px solid #00bff3;">
					<div id="outdoor">
						<div style="color: white;text-align: left;font-size: 22px;padding: 30px">室外环境监测</div>
						<div style="color: white;text-align: left;font-size: 18px;padding-left: 30px;padding-right: 30px"></div>
						<div style="color:white;font-size:18px;line-height:40px;padding:20px;background: #44448844;border-radius: 40px;box-shadow: 0 0 3px 1px #00bff3;">
							<div>天气情况:</div>
							<div style="text-align: center">
								<img src="static/img/windy.png" style="width: 60%;">
								<div>{{weather}}</div>
							</div>
							<div>室外温度:</div>
							<div style="text-align: center">
								<div id = "temp-outdoor" style="width: 100%;height:200px;"></div>
							</div>
							<div>室外湿度:</div>
							<div style="text-align: center">
								<div id = "hum-outdoor" style="width: 100%;height:200px;"></div>
							</div>
							<div>风速:</div>
							<div style="text-align: center">{{windy}}</div>
						</div>
					</div>

				</td>
			</tr>
		</table>
		<div id="bg" onclick="closePop()"></div>
		<div class="box" style="text-align: center;position:fixed;display: none;background:linear-gradient(#0b0b4b,#0b0b0b);padding: 20px;border-radius: 30px">
			<p id="pop-type" style="font-size: 22px;color: white"><b>温度监控</b></p>
			<div style="margin: 30px;color:white;">选择日期：<label>
				<input value="2020-05-01T12:00:00" type="datetime-local" onchange="update(1)"/>
			</label></div>
			<div id="pop-code" style="color: white">传感器编号</div>
			<div id="pop-address" style="color: white">监测位置</div>
			<div id="pop-stage" style="color: white">运行中</div>
			<div id="pop-line-temp" style="width: 300px;height:250px;display: none;" class="temp-line"></div>
			<div id="pop-line-hum" style="width: 300px;height:250px;display: none;" class="hum-line"></div>
			<div id="pop-line-co2" style="width: 300px;height:250px;display: none;" class="co2-line"></div>
		</div>
	</div>

</body>

</html>


<script type="text/javascript">


	vm_outdoor = new Vue({
		el:"#outdoor",
		data:{
			weather:'多云',
			temp:'24.5',
			hum:'24.5',
			windy:'北风三级'
		}
	})
	vm = new Vue({
		el:"#temperature",
		data: {
			data: [
				{
					"id": "1",
					"code": "1",
					"address":"1号车箱",
					"value": "27",
					"stage": "1"
				},
				{
					"id": "2",
					"code": "2",
					"address":"2号车箱",
					"value": "30",
					"stage": "1"
				}
			]
		}
	});

	vm.$watch('data',function(val){
		vm.$nextTick(function() {
			update(0);
		});
	});

	const vm2 = new Vue({
		el: "#humidity",
		data: {
			data:[
				{
					"id":"1",
					"code":"1",
					"address":"1号车箱",
					"value":"50",
					"stage":"1"
				},
				{
					"id":"3",
					"code":"3",
					"address":"2号车箱",
					"value":"-",
					"stage":"1"
				}
			]
		}
	});

	vm2.$watch('data',function(val){
		vm2.$nextTick(function() {
			update(0);
		});
	});

	const vm3 = new Vue({
		el: "#co2",
		data: {
			data:[
				{
					"id":"1",
					"code":"1",
					"address":"1号车箱",
					"value":"50",
					"stage":"1"
				},
				{
					"id":"2",
					"code":"2",
					"address":"2号车箱",
					"value":"56",
					"stage":"1"
				}
			]
		}
	});
	vm3.$watch('data',function(val){
		vm3.$nextTick(function() {
			update(0);
		});
	});
	function add_temp() {
		vm.data.push({
			"id":"-",
			"code":"-",
			"value":"-",
			"stage":"0"
		});
	}

	function add_hum() {
		vm2.data.push({
			"id":"-",
			"code":"-",
			"value":"-",
			"stage":"0"
		});
	}

	function add_co2() {
		vm3.data.push({
			"id":"-",
			"code":"-",
			"value":"-",
			"stage":"0"
		});
	}

	showTempOutdoor(24.5);
	showHumOutdoor(24.5);

	function showTempOutdoor(data) {
		let x = document.getElementById("temp-outdoor");
		const myChart = echarts.init(x);
		let option;
		option = {
			tooltip: {
				formatter: '{a} <br/>{b} : {c}%'
			},
			series: [
				{
					name: '温度',
					type: 'gauge',
					min:0,
					max:40,
					detail: {fontSize: 20, formatter: '\n\n\n{value}℃'},
					data: [{value: data, name: ''}],
					axisLabel:{
						fontSize:10
					},
					axisLine:{
						lineStyle:{
							color:[[0.1, '#49c3f0'],[0.2, '#59b7e0'],
								[0.3, '#6ca9cc'],[0.4, '#8299b8'],
								[0.5, '#9c88a0'],[0.6, '#b47688'],
								[0.7, '#ca6672'],[0.8, '#de575f'],
								[0.9, '#ef4c4f'],[1.0, '#fb4243']],
							width:20
						}
					}
				}
			]
		};
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	}

	function showHumOutdoor(data) {
		let x = document.getElementById("hum-outdoor");
		const myChart = echarts.init(x);
		let option;
		option = {
			tooltip: {
				formatter: '{a} <br/>{b} : {c}%'
			},
			series: [
				{
					name: '湿度',
					type: 'gauge',
					min:0,
					max:100,
					detail: {fontSize: 20, formatter: '\n\n\n{value}%'},
					data: [{value: data.toFixed(1), name: ''}],
					axisLabel:{
						fontSize:10
					},
					axisLine:{
						lineStyle:{
							color:[[0.1, '#b4fdfb'],[0.2, '#abf2fb'],
								[0.3, '#9ee4fb'],[0.4, '#8fd2fc'],
								[0.5, '#7fbefc'],[0.6, '#6da9fd'],
								[0.7, '#6da9fd'],[0.8, '#5b93fe'],
								[0.9, '#4a80fd'],[1.0, '#2f5ffe']],
							width:20
						}
					}
				}
			]
		};
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	}


	function showTempGauge(data) {
		let x = document.getElementsByClassName("temp-gauge");
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				tooltip: {
					formatter: '{a} <br/>{b} : {c}%'
				},
				series: [
					{
						name: '温度',
						type: 'gauge',
						min:0,
						max:40,
						detail: {fontSize: 20, formatter: '\n\n\n{value}℃'},
						data: [{value: data[23].toFixed(1), name: ''}],
						axisLabel:{
							fontSize:10
						},
						axisLine:{
							lineStyle:{
								color:[[0.1, '#49c3f0'],[0.2, '#59b7e0'],
									[0.3, '#6ca9cc'],[0.4, '#8299b8'],
									[0.5, '#9c88a0'],[0.6, '#b47688'],
									[0.7, '#ca6672'],[0.8, '#de575f'],
									[0.9, '#ef4c4f'],[1.0, '#fb4243']],
								width:20
							}
						}
					}
				]
			};
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}


	}
	function showHumGauge(data) {
		let x = document.getElementsByClassName("hum-gauge");
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				tooltip: {
					formatter: '{a} <br/>{b} : {c}%'
				},
				series: [
					{
						name: '湿度',
						type: 'gauge',
						min:0,
						max:100,
						detail: {fontSize: 20, formatter: '\n\n\n{value}%'},
						data: [{value: data[23].toFixed(1), name: ''}],
						axisLabel:{
							fontSize:10
						},
						axisLine:{
							lineStyle:{
								color:[[0.1, '#b4fdfb'],[0.2, '#abf2fb'],
									[0.3, '#9ee4fb'],[0.4, '#8fd2fc'],
									[0.5, '#7fbefc'],[0.6, '#6da9fd'],
									[0.7, '#6da9fd'],[0.8, '#5b93fe'],
									[0.9, '#4a80fd'],[1.0, '#2f5ffe']],
								width:20

							}
						}
					}
				]
			};
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}

	}
	function showCo2Gauge(data) {
		let x = document.getElementsByClassName("co2-gauge");
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				tooltip: {
					formatter: '{a} <br/>{b} : {c}%'
				},
				series: [
					{
						name: '二氧化碳浓度',
						type: 'gauge',
						min:0,
						max:1000,
						detail: {fontSize: 20, formatter: '\n\n\n{value}ppm'},
						data: [{value: data[23].toFixed(1), name: ''}],
						axisLabel:{
							fontSize:10
						},
						axisLine:{
							lineStyle:{
								color:[
									[0.1, '#fff09f'],[0.2, '#f8ea9e'],
									[0.3, '#ede19b'],[0.4, '#dfd498'],
									[0.5, '#d1c895'],[0.6, '#c1bb91'],
									[0.7, '#b2ac8d'],[0.8, '#a39f8b'],
									[0.9, '#969488'],[1.0, '#8c8a85']],
								width:20
							}
						}
					}
				]
			};
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}

	}

	function showTempLine(data){
		const x = document.getElementsByClassName("temp-line");
		let date = [];
		for(let k=1;k<25;k++)
			date.push(String(k));
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: date,
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize:'12',
						}
					}
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize:'12',
						}
					}
				},
				series: [{
					smooth: true,
					data: data,
					type: 'line',
					//折线下填充渐变颜色
					areaStyle: {
						normal: {
							color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
										offset: 0, color: '#fb4243'
									}, {
										offset: 0.5, color: '#9c88a0'
									}, {
										offset: 1, color: '#49c3f0'
									}]
							),
						}
					},
					itemStyle:{
						normal:{
							lineStyle:{
								width:0,
								type:'none' //设置线条为虚线
							}
						}
					},symbol: "none"
				}]
			}
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}
	}

	function showHumLine(data){
		x = document.getElementsByClassName("hum-line");
		let date = [];
		for(let k=1;k<25;k++)
			date.push(String(k));
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: date,
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize:'12',
						}
					}
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize:'12',
						}
					}
				},
				series: [{
					smooth: true,
					data: data,
					type: 'line',
					//折线下填充渐变颜色
					areaStyle: {
						normal: {
							color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
										offset: 0, color: '#2f5ffe'
									}, {
										offset: 0.5, color: '#7fbefc'
									}, {
										offset: 1, color: '#b4fdfb'
									}]
							),
						}
					},
					itemStyle:{
						normal:{
							lineStyle:{
								width:0,
								type:'none' //设置线条为虚线
							}
						}
					},symbol: "none"
				}]
			}
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}
	}

	function showCo2Line(data){
		x = document.getElementsByClassName("co2-line");
		let date = [];
		for(let k=1;k<25;k++)
			date.push(String(k));
		for (let i = 0; i < x.length; i++) {
			const myChart = echarts.init(x[i]);
			let option;
			option = {
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: date,
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize: '12',
						}
					}
				},
				yAxis: {
					type: 'value',
					axisLabel: {
						show: true,
						textStyle: {
							color: '#ffffff',
							fontSize: '12',
						}
					}
				},
				series: [{
					smooth: true,
					data: data,
					type: 'line',
					//折线下填充渐变颜色
					areaStyle: {
						normal: {
							color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
										offset: 0, color: '#8c8a85'
									}, {
										offset: 0.5, color: '#d1c895'
									}, {
										offset: 1, color: '#fff09f'
									}]
							),
						}
					},
					itemStyle: {
						normal: {
							lineStyle: {
								width: 0,
								type: 'none' //设置线条为虚线
							}
						}
					}, symbol: "none"
				}]
			}
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
		}
	}
	update(0);
	function update(times) {
		let $date = $("input[type='datetime-local']");
		const month = $date.val().split("T")[0].split("-")[1];
		const date = $date.val().split("T")[0].split("-")[2];
		const hour = $date.val().split("T")[1].split(":")[0];

		let tempData = [];
		let humData = [];
		let co2Data = [];
		for(let i=0;i<data.length;i++){
			if(data[i][0].split("/")[0]===month&&data[i][0].split("/")[1]===date&&data[i][1]===hour){
				for(let k=24;k>0;k--){
					if(i-k>=0){
						tempData.push(parseFloat(data[i-k][2]));
						humData.push(parseFloat(data[i-k][3]));
						co2Data.push(parseFloat(data[i-k][4]));
					}else{
						tempData.push(0);
						humData.push(0);
						co2Data.push(0);
					}

				}
			}
		}
		if(times===0){
			showTempGauge(tempData);
			showHumGauge(humData);
			showCo2Gauge(co2Data);
		}
		showTempLine(tempData);
		showHumLine(humData);
		showCo2Line(co2Data);
	}
	function Reversal(obj) {
		const $obj = $(obj);
		if($obj.attr('class')==="multi-on")
			$obj.attr('class','multi-off');
		else if($obj.attr('class')==="multi-off")
			$obj.attr('class','multi-on');
		else if($obj.attr('class')==="recovery-on")
			$obj.attr('class','recovery-off');
		else if($obj.attr('class')==="recovery-off")
			$obj.attr('class','recovery-on');
	}

	function showPop(obj,type){
		let $monitor = $($($(obj).children().get(0)).children().get(1));
		$("#pop-type").text(type);
		$("#pop-code").text($($monitor.children().get(0)).text());
		$("#pop-address").text($($monitor.children().get(1)).text());
		const $stage = $("#pop-stage");
		$stage.text($($monitor.children().get(2)).text());

		if($stage.text()==="运行中")
			$stage.css("color","#2aaf67");
		else
			$stage.css("color","#f54349");

		const $tempLine = $("#pop-line-temp");
		const $humLine = $("#pop-line-hum");
		const $co2Line = $("#pop-line-co2");
		switch (type) {
			case "温度监控":
				$tempLine.css("display","inline-block");
				$humLine.css("display","none");
				$co2Line.css("display","none");
				break;
			case "湿度监控":
				$tempLine.css("display","none");
				$humLine.css("display","inline-block");
				$co2Line.css("display","none");
				break;
			case "二氧化碳浓度监控":
				$tempLine.css("display","none");
				$humLine.css("display","none");
				$co2Line.css("display","inline-block");
				break;
			default:break;
		}
		$("#bg").css({
			display: "block",
			height: "100%",
			position: "fixed"
		});
		const $box = $('.box');
		$box.css({
			left: ($("body").width() - $box.width()) / 2 + "px",
			top: ($(window).height() - $box.height()) / 2 + "px",
			display: "block"
		});
	}

	function closePop() {
		$('.box').css({
			display: "none"
		});
		$("#bg").css({
			display: "none"
		});
	}

</script>
<script>
	$(function () {
		$('#nav_0').SlidingBlock();
	});
</script>

